@model List<Hotel>

<h2>Hotel List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Hotel ID</th>
            <th>Hotel_Name</th>
            <th>City</th>
            <th>No_of_Rooms</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.id</td>
                <td>@hotel.Hotel_Name</td>
                <td>@hotel.City</td>
                <td>@hotel.No_of_Rooms</td>
                <td>@hotel.Rating</td>

            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Add NEW Hotel</a>
